# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Environments
.env
.venv/
venv/
ENV/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/
